@charset "utf-8";body{background-color:#ffffff;margin:0px;padding:2px;color:#000000;border:none;;max-width: 670px;}
a:link{color:#0066CC;text-decoration:none;}
a:visited{text-decoration:none;color:#0066CC;}
a:hover{text-decoration:underline;color:#006666;}
a:active{text-decoration:none;color:#990000;}
.clearfloat{clear:both;height:0;font-size:1px;line-height:0px;}
.roundcont{width:350px;color:#000;}
.roundcont p{margin:0 10px;font-size:12px;;text-align:justify;}
.roundtop{background:url(../images/b_tr.png) no-repeat top right;}
.roundbottom{background:url(../images/b_br.png) no-repeat top right;}
img.corner{width:15px;height:15px;border:none;display:block !important;}
#page{font:100% Arial, Helvetica, sans-serif;background-color:#ffffff;margin:auto;padding:0px;color:#000000;min-height:800px;height:auto !important;height:500px;max-width:750px;width:auto !important;}
#container a:link:after, #container a:visited:after{content:" (" attr(href) ") ";font-size:90%;}
#container a[href^="/"]:after{content:" (http://www.tanphuockhanh.com/" attr(href) ") ";}
#activitytype{font-size:42px;font-weight:bold;font-family:'Geometric 231 BT', 'Geometric BT', Geometric, Arial, sans-serif;}
#title{font-size:21px;font-weight:bold;}
#standards{border:1px solid #333333;}
#line{border-bottom:1px solid #000000;}
#sidebar{float:left;margin-right:0%;margin-top:2px;padding:0px 10px 5px 5px;font-size:14px;width:40%;}
#sidebar_it{float:left;margin-right:0%;margin-top:2px;padding:0px 10px 5px 5px;font-size:14px;width:40%;border:double 5px #000000;}
#content{float:left;font-size:14px !important;background:#ffffff !important;margin:0px!important}
#copyright{font-size:9px;float:left;width:75%;padding-left:60px;}
#website{content:"&nbsp;";float:left;font-size:8px;}
#mark{float:right;width:9%;font-size:8px;text-align:right;}
#submission{display:none;}
#shadow{display:none;}
#noprint{display:none;}
.noprint{display:none;}
.controls{display:none;}

li{list-style: none;}

#footer {
    display: none;
}
.footer {
    display: none;
}

#header #user-profile {
    display: none;
}

#user-nav {
    display: none;
}

.page_wrapper {
    background: none !important;
}

#header {
    position: absolute;
    width: 160px;
}

#top-nav {
    background: none!important;
}

#top-nav .top-nav-left {
    background: none !important;
}

#top-nav .top-nav-main-text-center {
    background: none !important;
    color: #0066CC;
}

#top-nav .top-nav-main {
    background:none !important;
    color: #0066CC;
}

#top-nav .top-nav-right {
    background: none !important;
}

.content-header {
    text-align: center;
    float: none;
    text-transform: uppercase;
}
.tableSadlier td{
    font-size: 14px;
    color: #000000;
    padding: 4px;
}

.customer-info table tr td{
    font-weight: bold;
}

.customer-info table tr:first-child td{
    text-align: center;
    font-size: 16px;
}

.customer-info table tr:nth-child(2) td:first-child{
    padding-left: 20px;
}
.customer-info table tr:nth-child(2) td:last-child{
    font-style: italic;
}
.customer-info table tr:nth-child(3) td:first-child{
    padding-left: 20px;
}
.customer-info table tr:nth-child(3) td:last-child{
    font-style: italic;
}
.customer-info table tr:nth-child(4) td:first-child{
    padding-left: 20px;
}

.product-info {
    margin: 12px 0px 12px 0px;
}

.product-info table tr td{
    font-weight: bold;
}

.product-info table tr td:last-child{
    text-align: right;
}

.product-info table tr:last-child td{
    text-align: left !important;
}

.note-info table tr:first-child td{
    font-style: italic;
    font-weight: bold;
    text-align: left!important;
}

.note-info table tr:last-child td{
    font-weight: bold;
}

.note-info table tr td:last-child{
    text-align: center;
}

.note-info table tr:nth-child(3) td{
    padding-bottom: 5em;
}

table {
    background-color: #FFFFFF !important;
    width: 100%;
    border-spacing: 0;
}
.tableSadlier {
    border: solid 1px #000000;
    margin-bottom: 2px;
}

.tableSadlier tr:not(:last-child) td {
    border-bottom: 1px inset #000000;
}
.tableSadlier td:not(:last-child) {
    border-right: 1px inset #000000;
}

.tableSadlier .table_header {
    background-color: #FFFFFF;
    vertical-align: middle;
    text-align: left;
    padding: 2px 2px;
    font-size: 14px;
}

hr{
    margin: 0px;
    display: block;
    height: 1px;
    background: transparent;
    width: 100%;
    border: none;
    border-top: solid 3px #000000;
}




