<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p>
    Cảm ơn nhà phân phối và các bạn điều hành kinh doanh đã gửi kết quả đánh giá M-1 và kế hoạch M0 đúng hạn.
</p>
</body>
</html>