<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p>
    Đây là email thông báo rằng bạn được mời đăng ký vào lớp học. Vui lòng đăng ký tham gia trước khi hết hạn.
</p>
</body>
</html>