<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p>
    Đây là email cảnh báo rằng nhân viên nêu trên đã không làm bài được giao. Thư này được gửi cho nhân viên và cấp trên trực tiếp biết.
</p>
</body>
</html>