<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p>
    Đây là email thông báo rằng bạn đã được đăng ký vào lớp học. Vui lòng tham gia và hoàn thành các bài học được giao.
</p>
</body>
</html>