<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p>
    Đây là email nhắc nhở rằng nhân điều hành kinh doanh này chưa gửi chỉ tiêu rolling scorecard tháng này. Đề nghị sớm hoàn thành, nếu không bạn sẽ không thể khai báo chỉ số thực hiện về sau.
</p>
</body>
</html>