<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p>
    Đây là email thông báo rằng chỉ tiêu scorecard đã được chấp nhận bởi cấp trên của nhân viên điều hành kinh doanh này.
    Xin cảm ơn.
</p>
</body>
</html>