<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p>
    Đây là email thông báo rằng chỉ tiêu scorecard đã được chỉnh sửa và chấp nhận bởi cấp trên (ASM) của nhân viên điều hành kinh doanh này.
    Vui lòng chờ kết quả xét duyệt từ RSM. Xin cảm ơn.
</p>
</body>
</html>