<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p>
    Đây là email thông báo rằng chỉ tiêu scorecard đã bị từ chối bởi cấp trên của nhân viên điều hành kinh doanh này. Đề nghị đăng ký lại, nếu không bạn sẽ không thể khai báo chỉ số thực hiện về sau.
</p>
</body>
</html>